html, body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

*{
    border: none;
}

.Emoji{
    filter: grayscale(100%);
}

.button-container{
    width: 80%;
    margin: 100px auto 0 auto;
}

.write-button {
    background: #dfe4f6;
    display: block;
    position: relative;
    width: 120px;
    padding: 0;
    margin: 10px 20px 10px auto;
    text-align: center;
    line-height: 50px;
    color: #3b3b3b;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.write-button{
    box-shadow: 0 0 0 0 #a0aee0;
}

.write-button:hover {
    box-shadow: 0 0 0 5px #a0aee0;
    transition: box-shadow 0.3s ease;
}

.container{
    width: 1500px;
    height: 500px;
    max-height: fit-content;
    margin: 0 auto;
    position: relative;
    flex: 1;
}

.table{
    width: 80%;
    margin: 0 auto;
    border-spacing: 0 25px;
    margin-bottom: 100px;
    /*border: 1px solid black;*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
}

.table-head{
    height: 40px;
    font-size: 20px;
    color: #3b3b3b;
    border-bottom: 1px solid darkgrey;
}

.table-head th{
    border-bottom: 0.1em solid darkgrey;
    padding-bottom: 15px;
}
.id{
    width: 200px;
}
.title{
    width: 1200px;
}
.writer{
    width: 250px;
}
.date{
    width: 350px;
}

.none{
    height: 500px;
    font-size: 25px;
    color: #3b3b3b;
}

.table-body td{
    font-size: 20px;
    font-weight: bold;
    color: #3b3b3b;
    line-height: 4.0em;
    padding: 0;
}

.table-body:hover {
    cursor: pointer;
}

.table-body:hover{
    background-color: #dfe4f6;
    transition: background-color 0.5s ease;
}

.post-id, .post-writer, .post-date{
    text-align: center;
}

.post-title a{
    padding-left: 20px;
    text-decoration: none;
    color: #3b3b3b;
}

.post-id{
    border-radius: 7px 0 0 7px;
}

.post-date{
    border-radius: 0 7px 7px 0;
}