<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<link rel="stylesheet" type="text/css" href="/css/header.css">
<link rel="stylesheet" type="text/css" href="/css/footer.css">
<link rel="stylesheet" type="text/css" href="/css/list.css">
<link rel="stylesheet" type="text/css" href="/css/modal.css">

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" th:src="@{/js/modal.js}"></script>
<script type="text/javascript" th:src="@{/js/signup.js}"></script>
<script type="text/javascript" th:src="@{/js/login.js}"></script>
<script type="text/javascript" th:src="@{/js/userInfoModal.js}"></script>
<script type="text/javascript" th:src="@{/js/writeValid.js}"></script>
<script type="text/javascript" th:src="@{/js/checkSession.js}"></script>

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<head>
    <meta charset="UTF-8">
    <title>Project List</title>
</head>
<body>
<header th:insert="~{header :: header}"></header>


<div class="container">

    <div class="button-container">
        <a class="pageInfo">
            <span>전체 </span><span th:text="${boardList.getTotalElements()}"></span><span>건 중 </span>
            <span th:text="${boardList.pageable.pageNumber}+1"></span><span> 페이지</span>
        </a>

        <a href="/post" class="write-button" id="write-button">글쓰기</a>
    </div>

<!--    <hr class="line">-->
</div>

<!-- 게시글이 없을때 -->
<div class="container"  th:if="${boardList.isEmpty()}">

    <div class="main-container">
        <div class="none">
            <span class="Emoji">😓 게시글이 없습니다.</span>
        </div>
    </div>

</div>

<!-- 게시글이 존재할때 -->
<div class="container" th:unless="${boardList.isEmpty()}">

    <div class="main-container">

        <div class="box"  th:each="board : ${boardList}" th:onclick="|javascript:window.location.href='@{/post/detail/}' + ${board.id}|" th:title="${board.title} + '/' + ${board.id}">
<!--            <p th:text="${board.id}" class="post-id"></p>-->
            <!-- 게시글에 썸네일이 존재하면-->

            <img class="post-thumbnail" th:if="${board.thumbnail != null}" th:src="${board.thumbnail}" alt="Thumbnail Image">
            <!-- 썸네일이 없는 작업 이전의 게시글 썸네일 -->
            <img class="post-thumbnail" th:if="${board.thumbnail == null}" th:src="@{/images/emptyThumbnail.png}" alt="Empty Thumbnail">

            <p th:text="${board.title}" class="post-name"></p>

            <div class="detail">
                <p class="user">
                    <span class="material-symbols-outlined" style="font-size: 21px; color: #888888;">person</span>
                    <span th:text="${board.writer}" class="post-writer"></span>
                </p>

                <p class="date">
                    <span class="material-symbols-outlined" style="font-size: 21px; color: #888888;">schedule</span>
                    <span class="post-date" th:text="${#temporals.format(board.createdDate, 'yyyy-MM-dd HH:mm')}"></span>
                </p>
            </div>

        </div>

    </div>

</div>

<div>
    <div th:if="${!boardList.isEmpty()}">
        <ul class="pagination"
            th:with="
            pageNumber = ${boardList.pageable.pageNumber},
            pageSize = ${boardList.pageable.pageSize},
            totalPages = ${boardList.totalPages},
            startPage = ${T(java.lang.Math).floor(pageNumber / pageSize) * pageSize + 1},
            tempEndPage = ${startPage + pageSize - 1},
            endPage = (${tempEndPage < totalPages ? tempEndPage : totalPages})">

            <li th:unless="${boardList.first}" class="page-item">
                <a class="page-link" th:href="@{/list(page=0)}">
                    <span aria-hidden="true">«</span>
                </a>
            </li>

            <li th:unless="${boardList.first}" class="page-item">
                <a class="page-link" th:href="@{/list(page=${pageNumber - 1})}">
                    <span aria-hidden="true">‹</span>
                </a>
            </li>

            <li th:each="page: ${#numbers.sequence(startPage, endPage)}" th:classappend="${page == pageNumber + 1} ? 'active' : ''" class="page-item">
                <a th:text="${page}" class="page-link" th:href="@{/list(page=${page - 1})}"></a>
            </li>

            <li th:unless="${boardList.last}" class="page-item">
                <a class="page-link" th:href="@{/list(page=${pageNumber + 1})}" aria-label="Next">
                    <span aria-hidden="true">›</span>
                </a>
            </li>

            <li th:unless="${boardList.last}" class="page-item end" >
                <a class="page-link" th:href="@{/list(page=${totalPages - 1})}">
                    <span aria-hidden="true" >»</span>
                </a>
            </li>
        </ul>
    </div>



</div>

<!-- 로그인 모달창 -->
<div class="background" id="background">
    <div class="login-box" id="login-box">
            <span class="close-button">
                <img src="/images/close-button.png">
            </span>
        <h1>Login</h1>
        <form method="post" id="login-form">
            <input type="text" name="login_id" id="login_id" placeholder="Id">
            <input type="password" name="login_password" id="login_password" placeholder="Password">
            <label for="remember-check">
                <input type="checkbox" id="remember-check">아이디 저장하기
            </label>
            <a class="gosignin">회원가입!</a>
            <input type="submit" value="Login" class="login">
        </form>
    </div>

    <!-- 회원가입 모달창 -->
    <div class="sign-box" id="sign-box">
            <span class="close-button">
                <img src="/images/close-button.png">
            </span>
        <h1>SignUp</h1>
        <form method="post" id="sign-form">
            <input type="text" name="id" id="id" placeholder="id">
            <input type="text" name="name" id="name" placeholder="name">
            <input type="password" name="password" id="password" placeholder="Password">
            <a class="gologin">로그인!</a>
            <input type="submit" value="Signin" class="signin">
        </form>
    </div>
</div>

<footer th:insert="~{footer :: footer}"></footer>
</body>
</html>