<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<link rel="stylesheet" type="text/css" href="/css/header.css">
<link rel="stylesheet" type="text/css" href="/css/footer.css">
<link rel="stylesheet" type="text/css" href="/css/update.css">
<link rel="stylesheet" type="text/css" href="/css/modal.css">

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" th:src="@{/js/modal.js}"></script>
<script type="text/javascript" th:src="@{/js/signup.js}"></script>
<script type="text/javascript" th:src="@{/js/login.js}"></script>
<script type="text/javascript" th:src="@{/js/userInfoModal.js}"></script>
<script type="text/javascript" th:src="@{/js/update.js}"></script>
<script type="text/javascript" th:src="@{/js/delete.js}"></script>
<!--<script type="text/javascript" th:src="@{/js/checkSession.js}"></script>-->

<!-- Summernote -->
<script th:src="@{/summernote/summernote-lite.js}"></script>
<script th:src="@{/summernote/lang/summernote-ko-KR.js}"></script>
<script type="text/javascript" th:src="@{/js/summernote.js}"></script>
<link rel="stylesheet" th:href="@{/summernote/summernote-lite.css}">

<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body>
<header th:insert="~{header :: header}"></header>
<!--<p th:text="${session.userId}"></p>-->
<div class="container">
    <form method="post" class="form" id="update-form">

        <input type="hidden" name="_method" value="put"/>
        <input type="hidden" name="id" id="post-id" th:value="${boardDto.id}"/>
        <input type="hidden" name="createdDate" id="createdDate" th:value="${boardDto.createdDate}" readonly>

        <table class="content-table">
            <!-- textarea header-->
            <tr>

                <td>
                    <input type="text" name="title" class="title" id="title" th:value="${boardDto.title}"><br>
                </td>

                <td class="writer-label">작성자: </td>

                <td>
                    <input type="text" name="writer" class="writer" id="writer" th:value="${boardDto.writer}" readonly>
                </td>

            </tr>

            <tr>
                <!-- space -->
            </tr>

            <!-- textarea -->
            <tr>
                <td colspan="3" class="td">
                    <textarea name="content" class="content" id="content" th:utext="${boardDto.content}" cols="138" rows="40">

                    </textarea>
                </td>
            </tr>
        </table>
        <input type="submit" value="수정" class="submit" id="update">
    </form>
</div>

<!-- 로그인 모달창 -->
<div class="background" id="background">
    <div class="login-box" id="login-box">
            <span class="close-button">
                <img src="/images/close-button.png">
            </span>
        <h1>Login</h1>
        <form method="post" id="login-form">
            <input type="text" name="login_id" id="login_id" placeholder="Id">
            <input type="password" name="login_password" id="login_password" placeholder="Password">
            <label for="remember-check">
                <input type="checkbox" id="remember-check">아이디 저장하기
            </label>
            <a class="gosignin">회원가입!</a>
            <input type="submit" value="Login" class="login">
        </form>
    </div>

    <!-- 회원가입 모달창 -->
    <div class="sign-box" id="sign-box">
            <span class="close-button">
                <img src="/images/close-button.png">
            </span>
        <h1>SignUp</h1>
        <form method="post" id="sign-form">
            <input type="text" name="id" id="id" placeholder="id">
            <input type="text" name="name" id="name" placeholder="name">
            <input type="password" name="password" id="password" placeholder="Password">
            <a class="gologin">로그인!</a>
            <input type="submit" value="Signin" class="signin" >
        </form>
    </div>
</div>

<footer th:insert="~{footer :: footer}"></footer>
</body>

</html>